* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  height: 92vh;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  background-color: #1b142d;
  /* margin-top: -80px; */
  font-family: cairo;
}

.container {
  /* display: flex; */
  margin-top: 3.5%;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  height: 95%;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.293);
}
/*************************** Input *******************************/
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  height: 47.5%;
  background-color: rgba(228, 64, 64, 0.293);
}

.input-column {
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 97%;
  background-color: black;
}

.input-labels {
  text-align: center;
}

.imageContainer {
  object-fit: fill;
  align-items: center;
  justify-items: center;
  /* width: 29%; */
  height: 80%;
  background-color: rgba(222, 202, 202, 0.293);
}

#upload {
  text-align: center;
}

/*************************** BAR *******************************/
.btn-cointainer {
  align-items: center;
  justify-content: center;
  height: 5%;
  padding-top: 0.5%;
  background-color: blueviolet;
}
.btn-label {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: aquamarine;
  background-color: black;
}
#btn-label {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
/*************************** Output *******************************/
.output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  height: 47.5%;
  background-color: rgba(9, 160, 44, 0.293);
}

.resultContainer {
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 83%;
  background-color: black;
}

.out-labels {
  text-align: center;
}

#material-icons {
  align-items: center;
  justify-items: center;
  text-align: center;
  padding-top: 20%;
}
