* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  height: 92vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1b142d;
  margin-top: -80px;
  font-family: cairo;
}
/* Main cointaner */
.container {
  background-color: transperant;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
  /* margin-top: 100px; */
  gap: 2%;
}

.input-labels {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #74dbf4;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.input-labels:hover {
  color: #c5b8ecc6;
}

/* Upload */
.phaseImageBtn,
.magnitudeImageBtn {
  color: #d5e3f0;
}

/* Titles */
.magnitude-label {
  padding-right: 20%;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  height: 55%;
  margin: 10px;
  margin-top: -35px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29%;
  height: 80%;
  border-radius: 5%;
  border-style: dashed;
  border-color: #b3e8f6;
  /* padding: 2px; */
  /* border: 1px; */
  /* background-color: #b6cbe1; */
  /* box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  position: relative;
  background-position: center;
  background-size: cover;
}

#mag-icon,
#phase-icon {
  font-size: 50px;
  color: #917fc6c6;
  /* padding-left: 10px; */
}

.out-labels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bold;
  color: #74dbf4;
  margin-bottom: 20px;
  margin-top: -20px;
}
.out-labels:hover {
  color: #c5b8ecc6;
}
.output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1%;
  height: 55%;
  margin: 10px;
  margin-top: -35px;
}

.resultContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 29%;
  height: 80%;
  border-radius: 5%;
  border-style: dashed;
  border-color: #74dbf4;
  border-width: 10%;
  /* background-color: #c1d1e3; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: relative;
}

#result-phase,
#result-mag,
#result-icon {
  font-size: 50px;
  color: #917fc6c6;
  padding-left: 10px;
}
