* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  height: 92vh;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  background-color: #1b142d;
  /* margin-top: -80px; */
  font-family: cairo;
}

.container {
  margin-top: 3.1%;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 85%;
  background-color: transparent;
}
/*************************** Input *******************************/
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  height: 43%;
  background-color: transparent;
  padding-bottom: 1%;
}

.input-column {
  align-items: center;
  justify-content: center;
  width: 29%;
  height: 95%;
  margin-bottom: 1%;
  background-color: transparent;
}

.input-labels {
  color: #5ac1ee;
  text-align: center;
  margin-bottom: 2%;
  font-size: 20px;
}

.imageContainer {
  object-fit: fill;
  align-items: center;
  justify-items: center;
  /* width: 29%; */
  height: 80%;
  border-radius: 5%;
  border-style: dashed;
  border-color: #5ac1ee;
  background-color: transparent;
}

#upload {
  text-align: center;
}

.phaseImageBtn,
.magnitudeImageBtn {
  color: #917fc6c6;
}

.in-label1:hover {
  color: #c5b8ecc6;
}

.in-label2:hover {
  color: #c5b8ecc6;
}

/*************************** BAR *******************************/
.btn-cointainer {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: 5%; */
  padding: 1.23px 0%;
  margin-bottom: 1%;
  background-color: #5ac1ee;
  flex-direction: column;
}
.btn-label {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5ac1ee;
  background-color: #1b142d;
}
#btn-label:hover {
  color: #c5b8ecc6;
}
#btn-label {
  font-size: 17px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
/* checkbox */
/* .cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Hide the browser's default checkbox */
/* .cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

/* Create a custom checkbox */
/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */

/* On mouse-over, add a grey background color */
/* .cont:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
/* .cont input:checked ~ .checkmark {
  background-color: #2196f3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the checkmark when checked */
/* .cont input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
/* .cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */
/*************************** Output *******************************/
.output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  height: 47.5%;
  background-color: transparent;
}

.resultContainer {
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 99%;
  background-color: transparent;
}

.out-labels {
  color: #5ac1ee;
  text-align: center;
  padding-bottom: 2%;
  font-size: 20px;
  font-weight: 20px;
}

#material-icons {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding-top: 20%; */
  color: #917fc6c6;
}

.out-labels:hover {
  color: #c5b8ecc6;
}

.resultImage {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  display: none;
}
.magnitudeImageGray {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  display: none;
}
.phaseImageGray {
  display: none;
  height: 100%;
  width: 100%;
  border-radius: 5%;
}
