<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Normalize CSS -->
    <script src="https://unpkg.com/konva@8.3.14/konva.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- Cropper CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
</head>
<body>
    <div class="container">
        <div class="input-labels">
            <label class="input-labels1">Choose Magnitude</label>
            <label class="input-label2">Choose Phase</label>
        </div>
        <!-- input -->
        <div class="input-container">
            <!-- magnitude -->
            <div class="imageContainer">
            <input
                id="magnitudeImageInput"
                type="file"
                accept="image/*"
                style="display: none"
            />
            <img id="magnitudeImage" src="" alt=""></img>
            <label for="magnitudeImageInput" class="magnitudeImageBtn"
                >Upload</label>
            </div>
        <!-- phase -->
            <div class="imageContainer">
            <input
                id="phaseImageInput"
                type="file"
                accept="image/*"
                style="display: none"
            />
            <img id="phaseImage" src="" alt=""></img>
            <label for="phaseImageInput" class="phaseImageBtn">pload</label>
            </div>
        </div>
        <div class="out-labels">
            <label class="out-labels1">The Magnitude</label>
            <label class="out-label2">The Phase</label>
            <label class="out-label3">The Result</label>
        </div>
        <!-- Output -->
        <div class="output-container">
            <!-- magnitude -->
            <div class="resultContainer">
            <img class="magnitudeImage" />
            </div>
            <!-- phase -->
            <div class="resultContainer">
            <img class="phaseImage" />
            </div>
            <!-- Result -->
            <div class="resultContainer">
            <img class="phaseImage" />
        </div>
        </div>
        <script src="/static/js/main.js"></script>
        <!-- Cropper JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
</body>
</html>
